---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 3vh;
    padding-bottom: 0vh;
  }

  .plain-a {
    color: inherit !important; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      {% include "src/package.svg" %}
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages | sort(false, true, 'data.sortOrder') -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p><a href="{{ page.url }}" class="plain-a">{{ page.data.description }}</a></p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  <h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">Quick Start</h2>

  1. Download the most recent PostgreSQL database snapshot from [the downloads page](/downloads).

  2. Import the snapshot into your local PostgreSQL database.

  3. Have fun writing queries!

  See [the documentation page](/docs/) for full details and of how to import and use the data. 

  <h2 id="citing" class="tdbc-h3 tdbc-mt-md">Citing Us</h2>

  If you make use of this work, please cite us as follows:

```text
@inproceedings{npmdata,
  author = {Pinckney, Donald and Cassano, Federico and Guha, Arjun and Bell, Jonathan},
  title = {A Large Scale Analysis of Semantic Versioning in NPM},
  series = {MSR},
  booktitle = {Proceedings of the 20th International Conference on Mining Software Repositories},
  year = {2023},
  note = {Acceptance rate: 36\%.},
  url = {https://www.jonbell.net/preprint/msr23-npm.pdf},
  artifact = {https://doi.org/10.5281/zenodo.7552551}
}
```

  {{ content | safe }}

</main>
