[Unit]
Description=The changes fetcher for npm-follower

[Service]
Type=simple
StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=10

ExecStart=/zfs-raidz1/federico/npm-follower/services/changes_fetcher_start.sh

[Install]
WantedBy=default.target
