[Unit]
Description=Service for the npm-follower downloader

[Service]
Type=simple
StandardOutput=journal
StandardError=journal

ExecStart=/zfs-raidz1/XXXXXX/npm-follower/services/downloader_start.sh

[Install]
WantedBy=default.target
