Some(("hownpm", Normal(
    latest: None,
    created: "2016-01-10T00:06:21.081Z",
    modified: "2022-05-29T12:06:49.035Z",
    other_dist_tags: {
        "latest": "1.01",
    },
), {
    (
        major: 1,
        minor: 0,
        bug: 0,
        prerelease: [],
        build: [],
    ): (
        prod_dependencies: [],
        dev_dependencies: [],
        peer_dependencies: [],
        optional_dependencies: [],
        dist: (
            tarball_url: "https://registry.npmjs.org/hownpm/-/hownpm-1.0.0.tgz",
            shasum: Some("ba751e1fa6da8ed89b2dd308aba50e1e918b45a9"),
            unpacked_size: None,
            file_count: None,
            integrity: Some("sha512-d+623iaxlFscoxG/miRb6FhnQYQGpucxvMKg2ZF3UBb/3ixlK/bsnD3R3mWG1jvTuqW9AQmJiYhaQbxRnm0m9g=="),
            signature0_sig: None,
            signature0_keyid: None,
            npm_signature: None,
        ),
        repository: None,
        time: "2016-01-10T00:06:21.081Z",
        extra_metadata: {
            "_from": ".",
            "_id": "hownpm@1.0.0",
            "_nodeVersion": "5.2.0",
            "_npmUser": {
                "email": "gordonwilkinson@hotmail.com",
                "name": "gordonok",
            },
            "_npmVersion": "3.3.12",
            "_shasum": "ba751e1fa6da8ed89b2dd308aba50e1e918b45a9",
            "author": "",
            "description": "",
            "license": "ISC",
            "main": "index.js",
            "maintainers": [
                {
                    "email": "gordonwilkinson@hotmail.com",
                    "name": "gordonok",
                },
            ],
            "name": "hownpm",
            "scripts": {
                "test": "echo \"Error: no test specified\" && exit 1",
            },
            "version": "1.0.0",
        },
    ),
    (
        major: 1,
        minor: 0,
        bug: 1,
        prerelease: [],
        build: [],
    ): (
        prod_dependencies: [],
        dev_dependencies: [],
        peer_dependencies: [],
        optional_dependencies: [],
        dist: (
            tarball_url: "https://registry.npmjs.org/hownpm/-/hownpm-1.0.1.tgz",
            shasum: Some("ec980ff858681c1ca2e4867ce4094b1df5c03d1c"),
            unpacked_size: None,
            file_count: None,
            integrity: Some("sha512-e9ctWeEFiwoQLj0uDOmvoRDnmM1jDTiGThU9WbLjbyRBxDboHY7X7xKLfrhvSlJiXVWhbKYff7iiWLTGq6L/Wg=="),
            signature0_sig: None,
            signature0_keyid: None,
            npm_signature: None,
        ),
        repository: None,
        time: "2016-01-10T00:11:41.085Z",
        extra_metadata: {
            "_from": ".",
            "_id": "hownpm@1.0.1",
            "_nodeVersion": "5.2.0",
            "_npmUser": {
                "email": "gordonwilkinson@hotmail.com",
                "name": "gordonok",
            },
            "_npmVersion": "3.3.12",
            "_shasum": "ec980ff858681c1ca2e4867ce4094b1df5c03d1c",
            "author": "",
            "description": "",
            "license": "ISC",
            "main": "index.js",
            "maintainers": [
                {
                    "email": "gordonwilkinson@hotmail.com",
                    "name": "gordonok",
                },
            ],
            "name": "hownpm",
            "scripts": {
                "test": "echo \"Error: no test specified\" && exit 1",
            },
            "version": "1.0.1",
        },
    ),
    (
        major: 1,
        minor: 0,
        bug: 2,
        prerelease: [],
        build: [],
    ): (
        prod_dependencies: [],
        dev_dependencies: [],
        peer_dependencies: [],
        optional_dependencies: [],
        dist: (
            tarball_url: "https://registry.npmjs.org/hownpm/-/hownpm-1.0.2.tgz",
            shasum: Some("42a9b4365ae4406f21389673a3e82548dca777ef"),
            unpacked_size: None,
            file_count: None,
            integrity: Some("sha512-IBHH/jhmSCglnunnzKy1XGxntrKNeYQlPXe2RS59sexvDW9TOHfOrfzQ4quSKQvmvJFC3Nuqj1r1ShlqUFhAuw=="),
            signature0_sig: None,
            signature0_keyid: None,
            npm_signature: None,
        ),
        repository: None,
        time: "2016-01-10T00:25:20.185Z",
        extra_metadata: {
            "_from": ".",
            "_id": "hownpm@1.0.2",
            "_nodeVersion": "5.2.0",
            "_npmUser": {
                "email": "gordonwilkinson@hotmail.com",
                "name": "gordonok",
            },
            "_npmVersion": "3.3.12",
            "_shasum": "42a9b4365ae4406f21389673a3e82548dca777ef",
            "author": "",
            "description": "",
            "license": "ISC",
            "main": "index.js",
            "maintainers": [
                {
                    "email": "gordonwilkinson@hotmail.com",
                    "name": "gordonok",
                },
            ],
            "name": "hownpm",
            "scripts": {
                "test": "echo \"Error: no test specified\" && exit 1",
            },
            "version": "1.0.2",
        },
    ),
}))