Some(("@cran/psql.lodash", Normal(
    latest: Some((
        major: 0,
        minor: 0,
        bug: 5,
        prerelease: [],
        build: [],
    )),
    created: "2021-01-06T13:47:21.383Z",
    modified: "2021-05-06T01:40:53.460Z",
    other_dist_tags: {},
    version_times: {
        (
            major: 0,
            minor: 0,
            bug: 3,
            prerelease: [],
            build: [],
        ): "2021-05-05T03:57:13.841Z",
        (
            major: 0,
            minor: 0,
            bug: 5,
            prerelease: [],
            build: [],
        ): "2021-05-06T01:40:51.154Z",
        (
            major: 0,
            minor: 0,
            bug: 1,
            prerelease: [],
            build: [],
        ): "2021-01-06T13:47:21.780Z",
        (
            major: 0,
            minor: 0,
            bug: 2,
            prerelease: [],
            build: [],
        ): "2021-05-05T03:11:34.222Z",
    },
    versions: {
        (
            major: 0,
            minor: 0,
            bug: 1,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@cran/psql.lodash/-/psql.lodash-0.0.1.tgz",
                shasum: Some("8fe4dddf736b344069d5ec6f943d39b7348224d9"),
                unpacked_size: Some(3811),
                file_count: Some(14),
                integrity: Some("sha512-oNtYGE+Y/W/KUH7TRq8CY0Z2ryOmLS1dvr20Wpv9M8vELNjnsSWc6RLTrvQFj78h0HXAYOIXTq8LcLVlEC2sNg=="),
                signature0_sig: None,
                signature0_keyid: None,
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.13\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJf9b9qCRA9TVsSAnZWagAAvgAP/3He66WLMTXbXAZCOYMK\nO90YtEPIdpL4H/3Bh7UXRrZ4NexDCWyMEcMKX/5SiHv/Xdm5mzF2o05x/pxT\nQAj0JSLbZ5iMlesX/DIiQd3fGyvNtYyagsc7opsTBjFe7ch22RlwJrQCDg6K\neDhaEv+hTY+GiUFakKDAtQAyfXMYUe9BsvOcrZb0V4fA7B5jDNUER6CeqIYS\n1oJsfW/OZEAVQBO9nFbkK352228mOWpTj+qhZqdkWErSj5Arz1twz6i0xIH0\n+ZmKQGp6KewM3vt6fob/ZC9otYlUqDEc0LnucSCC1l+NoErzs/iX4k4cZU2j\nk4otDfU2JumLgrI8FKhCTzE5HhS9LmQD2krwdMyordvwI+tcQmJww7Kx6S1M\nZkIKxLl60wMQDONVJ773L5Hfb8ej3dIy2gKGuYQ80iQQjsWsH84gNwTot3Do\nqbpDiKR3vC8sPnDooS0yDSqvlA6uLF3RPAr/BAIRXVNT70i3+nhpoVYVE29k\n04TZa4bwSgQ8oz0C30t0ly8BYNOFJUvRCyZn9A0NIa/kk47JSxsSRBaiK6f2\nn4E622pI44yZEfLtFcbIZMg3K6xl7/vJklxxtVPj5nTmTivaFx+QgRDaXmdP\n2oJ7F+TbDlzaY2T7dej7wSk4pZ+J69/CDJXT6Cj8aAYSVD4da3iKIQp44Vtq\nlyz5\r\n=sjiv\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "_npmVersion": "6.14.9",
                "gitHead": "483346855ae2004b86219db503de3c29c8ed2c2f",
                "license": "CC-BY-ND-4.0",
                "maintainers": [
                    {
                        "name": "common-cranberry",
                        "email": "chris@cranberry.ink",
                    },
                ],
                "_npmOperationalInternal": {
                    "tmp": "tmp/psql.lodash_0.0.1_1609940841594_0.01600675671070939",
                    "host": "s3://npm-registry-packages",
                },
                "version": "0.0.1",
                "_id": "@cran/psql.lodash@0.0.1",
                "scripts": {},
                "keywords": [
                    "cranberry",
                ],
                "_nodeVersion": "15.5.0",
                "author": {
                    "name": "Cranberry",
                },
                "description": "PostgresQL Lodash Functionality",
                "main": "out/migrate.sql",
                "name": "@cran/psql.lodash",
                "directories": {},
                "_npmUser": {
                    "name": "common-cranberry",
                    "email": "chris@cranberry.ink",
                },
                "repo": {
                    "url": "git@gitlab.com:c6s/lib/psql/lodash.git",
                    "type": "git",
                },
                "_hasShrinkwrap": false,
            },
        ),
        (
            major: 0,
            minor: 0,
            bug: 3,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@cran/psql.lodash/-/psql.lodash-0.0.3.tgz",
                shasum: Some("a4a8186c5a2fdebe81c2269cd1993475bd07073e"),
                unpacked_size: Some(7117),
                file_count: Some(18),
                integrity: Some("sha512-BdiBIwP5julmtJOVsEHjnPp7L0bnRtDeGOtIo2sS5HjzXIEbtJc8nOP31L9eAdp8Sj8z/UeRprss7XIhjPa7Sg=="),
                signature0_sig: None,
                signature0_keyid: None,
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.13\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJgkheaCRA9TVsSAnZWagAA200QAI3+ivKhpPWXvIOrwhu1\nNuGJFn1RoF6v8lAQhsYSX8wZ8jwx073qjGtSdOWIgWYliaQs84RGBbYkN98P\n4H03qH5+kry+9aaTtpgDr8cqfTVmB1H5VZhuJUkr9kF1rKyZ/i2Fs07OBI6Y\nTfUoJR+ubyXv1WhhH3n8P32NFshkuW+T8sQSs/Qf2j0kA161UeirvN2NXnvn\nPqnWhedYuhvStACd8LOhfF6aNHS24pc/6EcLPtx3e78w8I61SAlloG8tznCp\nmLzzVBHMf9eAk8CQNzg6nYCI8TyUVBBRwK1kRLgNLgRXiY95oqOr/bfHALtH\n8QqMv0xdj7Apa9xjZ7EQ4cTQ4QV3nO2zehODrESfbCiKeiBCUbQCVgmi137N\nbGnaSToQAhFE9at3Wa90ZT3cMA+wg4337MciOpDbjso02owsNVohCAnP8Cyt\nfRT57ZtVtsJ690Ko4i6mDwwZ4WVOQ1ndKWvJS76C42CELyK/njEZhT/y9V54\nQdoTQm+IFc/WCl32bnq9smEY9AXKZFA9sSzGgpiKAc33AUjAO6wEMdco11+n\ntdl16yPUKwLFNwl+gQNl5APxGrYCX9B7lHZUUZjiwTSEaKNoDyyNyVuZwUao\nsL5vwF+tHADKQZ5tBYv2sC8todEpq40sN+Act50UQpR2jT9b2y1YDSX25dAR\n/DZb\r\n=jOxS\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "_hasShrinkwrap": false,
                "gitHead": "cdd3b8c83043bd934400df7291923c174bf23e47",
                "_npmOperationalInternal": {
                    "tmp": "tmp/psql.lodash_0.0.3_1620187033693_0.5316389211758743",
                    "host": "s3://npm-registry-packages",
                },
                "main": "out/migrate.sql",
                "_nodeVersion": "15.5.0",
                "version": "0.0.3",
                "maintainers": [
                    {
                        "name": "common-cranberry",
                        "email": "chris@cranberry.ink",
                    },
                ],
                "repo": {
                    "url": "git@gitlab.com:c6s/lib/psql/lodash.git",
                    "type": "git",
                },
                "description": "PostgresQL Lodash Functionality",
                "license": "CC-BY-ND-4.0",
                "name": "@cran/psql.lodash",
                "scripts": {},
                "author": {
                    "name": "Cranberry",
                },
                "_npmUser": {
                    "name": "common-cranberry",
                    "email": "chris@cranberry.ink",
                },
                "_id": "@cran/psql.lodash@0.0.3",
                "_npmVersion": "6.14.9",
                "directories": {},
                "keywords": [
                    "cranberry",
                ],
            },
        ),
        (
            major: 0,
            minor: 0,
            bug: 5,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@cran/psql.lodash/-/psql.lodash-0.0.5.tgz",
                shasum: Some("97ebc3a21c0004c062c1d600cdfeaf77042bb5dd"),
                unpacked_size: Some(7248),
                file_count: Some(18),
                integrity: Some("sha512-43gzevqhOgCdrHqNNVXXFP5muiBxgRPxjMZw0Fc1vDOsQ86ZPrz/D/3c/aNyA/mTFp9/fFsgAK0VkqD7rImFGQ=="),
                signature0_sig: None,
                signature0_keyid: None,
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.13\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJgk0kjCRA9TVsSAnZWagAAQl4QAIiJUDPqp4wWuEn0kl7i\nfXW23peL+M5y/9HfMo8Dq8mkQlog1e0Ks37dh3rQ3/2LECJdKNObLeamKlGX\ngotfVjEP+h115ItzH7I5iCbKnk0JAx9z7ym4a01+at92VuCqCnxX+kU/NcWz\n9g5JBr36ALDI7WzI8xYwowVzz3kEjfGH/u99BbyqzRCgZ2v5Bm+sjwJMB3wu\nVqoj2QU5He4rlbwsw63DrO7iEsAudhg/kH0OVTpNiZTu/8yO2FEr5djDG5Mt\nNbBHFMAS7iR/qvvBxe/Xi4HfaWiTjzKlW/NlCWEJJsehtOSJ2uK3g8e4xAmW\nlX14bxwIAgROjBFMv3RBLXdxN9xW8dtVD+glx3qrZBnW74oPjaRQpaFCQJXu\nFbhGlxsfx9BMiQE2Er2jwipLsnosCwW+J6PDAXgNf+OInNAQm4pW6SEJhCsI\npdeeRojPzHL/yiwQMIArPdkfiYC4jVAso5lqthxRYLic/PmyG5CeW4kr+HLF\n8pZUDHj/jtipFn2l1avXMHGfy7j6vVdGgC1kLa7I0/v2FEaa7HuYnsG3/qKi\nj/rPAkuXWBpvXWUlYkG40+9oO31R6H0vGKqesQyMFfuEWPdPLvvTWpg5MeNr\nzBarnUNwGCmbOmTWxK3tszJduThWCU2eubKEIPckDjOtgF8OMsRdgNlRQQL5\nItg1\r\n=Q2SJ\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "keywords": [
                    "cranberry",
                ],
                "description": "PostgresQL Lodash Functionality",
                "repo": {
                    "url": "git@gitlab.com:c6s/lib/psql/lodash.git",
                    "type": "git",
                },
                "_npmUser": {
                    "name": "common-cranberry",
                    "email": "chris@cranberry.ink",
                },
                "_hasShrinkwrap": false,
                "main": "out/migrate.sql",
                "author": {
                    "name": "Cranberry",
                },
                "gitHead": "5667091a2d1fea35ec770664afd43b174b6b6141",
                "scripts": {},
                "version": "0.0.5",
                "_id": "@cran/psql.lodash@0.0.5",
                "_nodeVersion": "15.5.0",
                "license": "CC-BY-ND-4.0",
                "maintainers": [
                    {
                        "name": "common-cranberry",
                        "email": "chris@cranberry.ink",
                    },
                ],
                "_npmOperationalInternal": {
                    "tmp": "tmp/psql.lodash_0.0.5_1620265251005_0.488770440419817",
                    "host": "s3://npm-registry-packages",
                },
                "name": "@cran/psql.lodash",
                "directories": {},
                "_npmVersion": "6.14.9",
            },
        ),
        (
            major: 0,
            minor: 0,
            bug: 2,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@cran/psql.lodash/-/psql.lodash-0.0.2.tgz",
                shasum: Some("ff460e021f21eb7aaf4c2d588508bc18525a4229"),
                unpacked_size: Some(5901),
                file_count: Some(16),
                integrity: Some("sha512-MkzbOFzm3vhUunvQb7rpy04pH1Bzmn0gUyYBmk+pZ+ECr6KuD6YC8VomQzOxMg3fNab5pmVVu72n88eMOde0lQ=="),
                signature0_sig: None,
                signature0_keyid: None,
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.13\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJgkgzmCRA9TVsSAnZWagAA2AYP/39GFEsmThgsdZKGwa7G\nC/0PAbhi80jFw4F2foK09f7d2xlygp0M/teWougVznpY/dWhETSJNt3+JVuS\ndADmMqqjJ7Zq4AYM1enUjz8Ss30Xtjk0WMQ3ww0BaszOlkpESmwWOgFDYVK1\nfL6xcHC2SRrbgkcE3GX6lkQF31ARHWSx0cllgjxMz5Z/mEyH7Lbrq3Fa7Qpo\nHPFrpjVdf68rjYYeb8RnqDdCQsD/nxUMhGx4wA5sIWMlEbM89FEtsKB89who\nvaJVtUjuaErIBz77T2M/1d7g8rKrF6/7i1Z+vv2X9+2zbBYIouCGWvdjz4uV\nIZAd6GaLnN2avBhYtk8jr09aWHICx3QA6K69i+17mWt6u3ifrl/JfHApbbUn\nYSB/LYtGq3SoOmKZrM5rvftOVKWsPLran9tFBPumftXb+i6t+oahoUo7PQ/v\nFzWwe1puZz71/4fwr9ipwPYL9MPGouEG2lPoRKChRZIcnBrRgpGSR+811hH/\nqFV3pttq6EOhEaL8wVB61kU0rGXFSS6ZDFs9+BKfuD06iZq1KgV/8o5+JFEr\nwUgUpVV5oLmG7LbS1aHp8pP8PZ5vkSr4GMGqnGq9+XZlLXA7RxcrXoi+KAls\nrot2TSPggitLqsmLRXpxYl+uWblLiaL62PiBjKe4F5LeRisLCDmeBOwQxoAo\nGsuV\r\n=RhRq\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "_npmUser": {
                    "name": "common-cranberry",
                    "email": "chris@cranberry.ink",
                },
                "maintainers": [
                    {
                        "name": "common-cranberry",
                        "email": "chris@cranberry.ink",
                    },
                ],
                "main": "out/migrate.sql",
                "_nodeVersion": "15.5.0",
                "description": "PostgresQL Lodash Functionality",
                "license": "CC-BY-ND-4.0",
                "name": "@cran/psql.lodash",
                "scripts": {},
                "_id": "@cran/psql.lodash@0.0.2",
                "_hasShrinkwrap": false,
                "author": {
                    "name": "Cranberry",
                },
                "version": "0.0.2",
                "_npmOperationalInternal": {
                    "tmp": "tmp/psql.lodash_0.0.2_1620184294068_0.44929745611204086",
                    "host": "s3://npm-registry-packages",
                },
                "gitHead": "2bfbad9f773c047eafed3daac8f86376ef7ad8d7",
                "directories": {},
                "repo": {
                    "url": "git@gitlab.com:c6s/lib/psql/lodash.git",
                    "type": "git",
                },
                "_npmVersion": "6.14.9",
                "keywords": [
                    "cranberry",
                ],
            },
        ),
    },
)))