Some(("@avalos/extjs-gpl", Normal(
    latest: Some((
        major: 7,
        minor: 0,
        bug: 0,
        prerelease: [],
        build: [],
    )),
    created: "2021-10-25T21:07:54.871Z",
    modified: "2022-04-04T16:43:19.712Z",
    other_dist_tags: {},
    version_times: {
        (
            major: 7,
            minor: 0,
            bug: 0,
            prerelease: [],
            build: [],
        ): "2021-10-25T21:07:58.131Z",
    },
    versions: {
        (
            major: 7,
            minor: 0,
            bug: 0,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@avalos/extjs-gpl/-/extjs-gpl-7.0.0.tgz",
                shasum: Some("0f69d4ec43e6533af736dcd22095d9e49cfdd490"),
                unpacked_size: Some(591184278),
                file_count: Some(45578),
                integrity: Some("sha512-kGV0OSWw5YNB1TXKGx9iasiP8VsY+lBdUSNiG6aLg1ZL5S6ujk6b6Q4VC1biK2kLWw89evcXqbb80YXIe1kM7A=="),
                signature0_sig: Some("MEUCIQD9GjS6vsrX+pdVuxx+W6EHl+Giz7fD0xMZih8u6YXStwIgV1HQonmFwQuGK1hsWDYAAxktq/u8hgLCIlp+YBEVIa8="),
                signature0_keyid: Some("SHA256:jl3bwswu80PjjokCgh0o2w5c2U4LhQAE57gj9cz1kzA"),
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v3.0.13\r\nComment: https://openpgpjs.org\r\n\r\nwsFcBAEBCAAQBQJhzGt8CRA9TVsSAnZWagAANKoQAIH0iaGE1DNfI5myAOcA\ndHVACO6tamwBH/525+ATdJv7uIW6kYp9CX+Y48wP2rz7K4zXVN8TSnUyjEJs\nmyaM0eLviLILg8f7hf0hf70WQEIPa7IYeDVsqC5+oc6TI7jq+exZ6ZJzukjB\nz72DqKmwX4w/2LG8RAptoBZxBiq+ZDyX+SLkmzqdD4xiPX1P8C3VAJllexFV\nEo4mV9nrpa/zODG3upTobASv1NJlmjYJZPrscZx3wb84x7JgugYS37FnBCU4\n5exkoku9fQ1fOg5/p0Ld+8Z6aT8Tba19knWbL+hsOYyo1lBF/3lkPzjX/hlh\n2mlHYwYkH3bTsdZ0BAjMw40s3/W6so31v9oqPW6U8iGqGaXfAZ7IDWtdsLWc\nTV1rzzOTvMQoQat/ccLsZX/UpfKnf35nXkVKdbUfSK+CgmW73W3qHOTsXUkA\nJ3WTGU5y3AyeHAMlM/Kkyjk9WnlhnLM602hkV/bFwu9a16y9g5zlgiZV3iST\ndSfPtMCTWQY1NK3c6iuJ27CpSrG+DbuuA4DwN8Em+jiQuossbNlZiTCw4kO8\nDMo1sr9a8RFZt/jpO6e+UzBaiXDJftl/YgH26Vt9lnqHkMcnKOfF0qB/c5jh\n6qNwn3NZb9WOymGjrumdMMB9MU8tKP94OZC0aJ5EU94sorATIrbpD4dApeFa\nEeN6\r\n=c9hY\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            description: Some("This is the Sencha Ext JS Framework Package, or just \"ext\" for short."),
            repository: None,
            extra_metadata: {
                "_npmUser": {
                    "email": "avalos@disroot.org",
                    "name": "avalos",
                },
                "version": "7.0.0",
                "properties": {
                    "skip.sass": 1,
                    "skip.slice": 1,
                },
                "build": {
                    "dir": "${package.output.base}",
                },
                "resource": {
                    "paths": [
                        "resources",
                    ],
                },
                "compatVersion": "7.0.0",
                "creator": "Sencha",
                "signatures": [
                    {
                        "algorithm": "SHA1withRSA",
                        "created": "2020-01-14T07:08:07Z",
                        "name": "Sencha",
                        "nonce": "7nieRql1fas=",
                        "signature": "UjGi4mP+Kp+YsuDnMvsGW+WAq1tB3AxpaZUL9VKqj8M7rPHwTAa11w5AG8hYisuic+h2sqEevIL0UQ6CBwBGQHsZOC0qpYi5wmYGouiGPAkTiGyZv1Qh0Ocvy2EVHMstXgjwkIGG64Pe5rP1wfgu+3of0Qpi0vu/XhPTaCAKkr5GVHoLbSPlsBIxjeKSro7C/m4eeQDCIxjwypW2aVk3kpyqqQmhDQjRxy+qEK652uWDUgOB6wIXLK2fVzhqgRSPudOm6HB7uS5re3qEHN0JmICW8sTnPTrYeUVilBoibBrcltwg3PPZqMpcwRvSumnE+60U1GYZTpd9Cq1OiiEusw==",
                        "uuid": "1d6b0d9c-3333-4e65-885f-5b07a1fc3198",
                    },
                ],
                "_npmVersion": "8.1.0",
                "subpkgs": {
                    "dir": "${package.dir}",
                    "packages": [
                        "classic/classic",
                        "modern/modern",
                        "packages/charts",
                        "packages/amf",
                        "packages/soap",
                        "packages/ux",
                        "packages/google",
                        "packages/legacy",
                        "packages/font-awesome",
                        "packages/font-pictos",
                        "packages/font-ext",
                    ],
                },
                "summary": "Ext JS",
                "_hasShrinkwrap": false,
                "maintainers": [
                    {
                        "email": "avalos@disroot.org",
                        "name": "avalos",
                    },
                ],
                "directories": {},
                "type": "framework",
                "name": "@avalos/extjs-gpl",
                "sass": {
                    "etc": "${package.dir}/sass/etc/all.scss",
                    "fashion": true,
                    "namespace": "Ext",
                    "src": "${package.dir}/sass/src",
                    "var": "${package.dir}/sass/var",
                },
                "format": "1",
                "_id": "@avalos/extjs-gpl@7.0.0",
                "_nodeVersion": "16.11.1",
                "detailedDescription": "Sencha Ext JS JavaScript Framework",
                "output": "${package.dir}/build",
                "overrides": "${package.dir}/overrides",
                "namespace": "Ext",
                "example": {
                    "apps": [
                        "admin-dashboard",
                        "executive-dashboard",
                        "feed-viewer",
                        "kitchensink",
                        "calendar",
                        "classic/desktop",
                        "classic/ticket-app",
                        "classic/portal",
                        "classic/simple-tasks",
                        "classic/responsive-app",
                        "classic/aria",
                        "modern/addressbook",
                        "modern/blackberry",
                        "modern/energy",
                        "modern/stockapp",
                        "modern/states",
                        "modern/geocongress",
                        "modern/oreilly",
                    ],
                    "path": [
                        "examples",
                        "templates",
                    ],
                },
                "classpath": "${package.dir}/src",
                "language": {
                    "js": {
                        "input": {
                            "version": "ES5",
                        },
                    },
                },
                "_npmOperationalInternal": {
                    "host": "s3://npm-registry-packages",
                    "tmp": "tmp/extjs-gpl_7.0.0_1635196074923_0.19884833814998726",
                },
            },
        ),
    },
)))