Some(("Lingo", Normal(
    latest: Some((
        major: 0,
        minor: 0,
        bug: 2,
        prerelease: [],
        build: [],
    )),
    created: "2010-11-09T23:29:28Z",
    modified: "2010-11-09T23:29:28Z",
    other_dist_tags: {},
    version_times: {
        (
            major: 0,
            minor: 0,
            bug: 1,
            prerelease: [],
            build: [],
        ): "2010-11-09T23:29:28Z",
        (
            major: 0,
            minor: 0,
            bug: 2,
            prerelease: [],
            build: [],
        ): "2010-11-09T23:29:28Z",
    },
    versions: {
        (
            major: 0,
            minor: 0,
            bug: 1,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/Lingo/-/Lingo-0.0.1.tgz",
                shasum: Some("e001278b5d25e047cef5cb4e6e87b3512c15b551"),
                unpacked_size: None,
                file_count: None,
                integrity: None,
                signature0_sig: None,
                signature0_keyid: None,
                npm_signature: None,
            ),
            repository: None,
            extra_metadata: {
                "name": "Lingo",
                "keywords": [
                    "language",
                    "linguistics",
                    "inflection",
                ],
                "version": "0.0.1",
                "_nodeVersion": "v0.3.1-pre",
                "author": {
                    "email": "tj@vision-media.ca",
                    "name": "TJ Holowaychuk",
                },
                "_nodeSupported": true,
                "_npmVersion": "0.2.7-2",
                "description": "linguistics module sporting inflection and more",
                "engines": {
                    "node": ">= 0.2.0",
                },
                "main": "./index",
                "_id": "Lingo@0.0.1",
            },
        ),
        (
            major: 0,
            minor: 0,
            bug: 2,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/Lingo/-/Lingo-0.0.2.tgz",
                shasum: Some("917eae1a39cce7feb96cc1b70bb9d82f48cdb6cf"),
                unpacked_size: None,
                file_count: None,
                integrity: None,
                signature0_sig: None,
                signature0_keyid: None,
                npm_signature: None,
            ),
            repository: None,
            extra_metadata: {
                "engines": {
                    "node": ">= 0.2.0",
                },
                "keywords": [
                    "language",
                    "linguistics",
                    "inflection",
                ],
                "version": "0.0.2",
                "description": "linguistics module sporting inflection and more",
                "_nodeSupported": true,
                "main": "./index",
                "name": "Lingo",
                "_npmVersion": "0.2.7-2",
                "author": {
                    "email": "tj@vision-media.ca",
                    "name": "TJ Holowaychuk",
                },
                "_nodeVersion": "v0.3.1-pre",
                "_id": "Lingo@0.0.2",
            },
        ),
    },
)))