Some(("@wasseypur/errors", Normal(
    latest: Some((
        major: 0,
        minor: 0,
        bug: 3,
        prerelease: [],
        build: [],
    )),
    created: "2022-04-03T12:15:25.715Z",
    modified: "2022-04-03T15:19:51.558Z",
    other_dist_tags: {},
    version_times: {
        (
            major: 0,
            minor: 0,
            bug: 1,
            prerelease: [],
            build: [],
        ): "2022-04-03T12:15:25.971Z",
        (
            major: 0,
            minor: 0,
            bug: 2,
            prerelease: [],
            build: [],
        ): "2022-04-03T12:56:01.171Z",
        (
            major: 0,
            minor: 0,
            bug: 3,
            prerelease: [],
            build: [],
        ): "2022-04-03T15:19:51.469Z",
    },
    versions: {
        (
            major: 0,
            minor: 0,
            bug: 1,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@wasseypur/errors/-/errors-0.0.1.tgz",
                shasum: Some("6285c37f9fea88e90776708d766d526624d573c3"),
                unpacked_size: Some(25971),
                file_count: Some(17),
                integrity: Some("sha512-a10HhmP1VQeRBQ4J8QmYX+wvB7IrH2LhyyqQQ2pek3l2L31G06wHMg5IiIaKCkJOxcL/QiXgjDtgMXY9MszC8A=="),
                signature0_sig: Some("MEUCIQCshgrmrN7+xuzTRZyhXBLMyjlvBq/6R1JjIBrLgbmdCQIgEUuM52zQ359NUwBgqbLos6DOOiiIAg8HlQkyuwzjBi0="),
                signature0_keyid: Some("SHA256:jl3bwswu80PjjokCgh0o2w5c2U4LhQAE57gj9cz1kzA"),
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v4.10.10\r\nComment: https://openpgpjs.org\r\n\r\nwsFzBAEBCAAGBQJiSY/dACEJED1NWxICdlZqFiEECWMYAoorWMhJKdjhPU1b\r\nEgJ2VmpM1xAAiGm7NzcaVjgGY1Z+EC9ZqF582P9RG0JJ1S2w84oL4RGA8lnn\r\nk4zRTVQHn+M7cFcQMpXSO832t10yofB9WMVJL73PLPLG69J+5EVjCXgPA3yl\r\ndGxoFbiqiY+TF6m98SN3Bku+KDJ7jhEHaGTQYi+/KxR4nz5AxdDyzkzWOhuF\r\nYwHG7zbQP2JEreLW4fhhL3clps8VR5F18QPMV0aV5HHR4H44/VqjecQiRAVC\r\n0UcQ76T03+iQ9Jt40N84VS/u4xQPwE/KuXPfgpO3Ld3+ilhlq7T/DcKboOff\r\n/rwN4o97WRxIzoRlpySejELD8WUJp778mIN4DAGTVpIU0eg05GTGbcgBARSR\r\nb39wXQFAdBTZ4RdlL4sKbKrUS6KsqfiY3HCjTm+7TW+aZUgcbrzWqH+xYxHO\r\nHAowwcNo91ppVaRak0tnhZCI5YBUdoO0HKx9OOcrId5+TccycLi87wOQYP4W\r\nL+7BMNGj807iql0yzVvWk/RdGvu+ruP+rh+y7nEAqIefUAR3uJAJNdem8Ngm\r\nZFhK13x00wDUH2FX1vbBejxj1/M98YwWhTJzeUY+HEvU4Re3ri+IBJye1p2Z\r\nL3kSbODNNVQqCHqP5g7SPYsr/cx4nHTbftygi/9isEknGFdEDyXXZ0vaDQmd\r\n3oqZpOmH3aL1kdVzfh7hjviCMZyLBWq4OEU=\r\n=iICY\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "_id": "@wasseypur/errors@0.0.1",
                "_npmOperationalInternal": {
                    "tmp": "tmp/errors_0.0.1_1648988125789_0.8091796494826524",
                    "host": "s3://npm-registry-packages",
                },
                "maintainers": [
                    {
                        "name": "arkenstan",
                        "email": "anshulwagadre@live.com",
                    },
                ],
                "version": "0.0.1",
                "_nodeVersion": "16.14.2",
                "_hasShrinkwrap": false,
                "type": "commonjs",
                "main": "./src/index.js",
                "_npmUser": {
                    "name": "arkenstan",
                    "email": "anshulwagadre@live.com",
                },
                "name": "@wasseypur/errors",
                "gitHead": "4d6d014a995c40c8368018e9510fb08cff07e699",
                "description": "Fun little NSFW error HTTP errors library which spouts wasseypur slangs as error messages.",
                "_npmVersion": "8.6.0",
                "typings": "./src/index.d.ts",
                "directories": {},
            },
        ),
        (
            major: 0,
            minor: 0,
            bug: 2,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@wasseypur/errors/-/errors-0.0.2.tgz",
                shasum: Some("160d959283e858136b296e9d0424c81e019436f4"),
                unpacked_size: Some(26580),
                file_count: Some(17),
                integrity: Some("sha512-MkdK6xjSJzVWZDDJkIRBzIWoxvXzQ63+5NSwWULppSc+a5BZvnDl6cY6bsZNKLt4zFzKuwSIwixJwMgnwcNKYg=="),
                signature0_sig: Some("MEQCIB0x2LN3QLhduCaaGPSmHztBEUOOVjprIYopf70TuYJVAiBB5bdpY7eFby+3JYenvbfLjc4hTcHE72yVkdrSsTWyvQ=="),
                signature0_keyid: Some("SHA256:jl3bwswu80PjjokCgh0o2w5c2U4LhQAE57gj9cz1kzA"),
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v4.10.10\r\nComment: https://openpgpjs.org\r\n\r\nwsFzBAEBCAAGBQJiSZlhACEJED1NWxICdlZqFiEECWMYAoorWMhJKdjhPU1b\r\nEgJ2VmpIjA//ezP4oO/bk/TiCImO+Dv7d4vxhoq0hjLVnyWMNgotd1pugD8E\r\nfILH4kkupcg7MSuQhGg8HNoxFJAqZEK99kxCFsD/stlWIX7iJpCKw+tDFmwi\r\nDQOLNlFPm+C4zTbAGiL87fsrTWEiENPahqBbRIy3jRkqQK+3wE98f6BLbF/+\r\n2WN3UPtQQvRsxQHj/166peUA2GhKiQPYzFhjV7CRAR+D3u2e/eKzmYm2fnjS\r\nZBmoJHQ/aY6VhUTCmtVWggDT4PmdLiy1CJ3Pl4Lcx0L0vzu1/6BpoaZydJRa\r\npZvzFIQHo/OR8A2+/HW65AmsIkVAZrTyPLvQSnfg83Llu6RIbLfY64hu67PE\r\nJ6g4b0hmRF530npY3ZIXRYIBxJiFK6DzFFUpkkHlBwST9mN5ChJTNYDwfADF\r\nSI2vxC8n8NkbTMo9fiv+MrT1CPx5UQT1dqIvK4DP7+J0b2DpOMyzZKo45wgU\r\ntibCd6VpjR/L8T7DEeFyW6yVgPXbdtuzHdUNTwwA6j/Er1maoq74ZMzU0zt+\r\nxHXjX57d0nwFCPgr7DM5LBaLAiu/T4pcnZcneQlC4vfTlbcDxGXB0xWBKy4Q\r\nTY3NoMvEN/2FvPM/Yeywtn/67l6DDJ+i/XKvsoCyD7+yi2zxC0G4Jty0sOzX\r\ny00Mie5Plr+6beyVmTV307p/c9/3f7iw7Aw=\r\n=MDZH\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "homepage": "https://github.com/arkenstan/wasseypur#readme",
                "main": "./src/index.js",
                "repo": {
                    "url": "git+https://github.com/arkenstan/wasseypur.git",
                    "type": "commonjs",
                    "directory": "packages/errors",
                },
                "maintainers": [
                    {
                        "name": "arkenstan",
                        "email": "anshulwagadre@live.com",
                    },
                ],
                "type": "commonjs",
                "version": "0.0.2",
                "_id": "@wasseypur/errors@0.0.2",
                "name": "@wasseypur/errors",
                "_npmVersion": "8.6.0",
                "_nodeVersion": "16.14.2",
                "_npmOperationalInternal": {
                    "tmp": "tmp/errors_0.0.2_1648990561034_0.47758583459588144",
                    "host": "s3://npm-registry-packages",
                },
                "_hasShrinkwrap": false,
                "_npmUser": {
                    "name": "arkenstan",
                    "email": "anshulwagadre@live.com",
                },
                "typings": "./src/index.d.ts",
                "description": "Fun little NSFW error HTTP errors library which spouts wasseypur slangs as error messages.",
                "directories": {},
                "gitHead": "c4a10ddf8960fbd205ee0b6040a747695369c7c4",
                "bugs": {
                    "url": "https://github.com/arkenstan/wasseypur/issues",
                },
            },
        ),
        (
            major: 0,
            minor: 0,
            bug: 3,
            prerelease: [],
            build: [],
        ): (
            prod_dependencies: [],
            dev_dependencies: [],
            peer_dependencies: [],
            optional_dependencies: [],
            dist: (
                tarball_url: "https://registry.npmjs.org/@wasseypur/errors/-/errors-0.0.3.tgz",
                shasum: Some("e17f4e7dba64455b1c7f9876aa6fc0096119f6cd"),
                unpacked_size: Some(26954),
                file_count: Some(17),
                integrity: Some("sha512-nS3oMrJsRt++NFl0qGSN/Qto0gxK0VZFUUam/wvznm4SoYvQtVnR3oD4+7O9wxyVWU7mtDPSjhaFUWM07aP/Tw=="),
                signature0_sig: Some("MEUCIQD1djsof7v2BTzKIj9YvAF9WYVA0Ne4+wppbcrfVfcZowIgAZA426Shjy8uLV9XT5smDLlBBbmsnsaEJiE+j5JIzUs="),
                signature0_keyid: Some("SHA256:jl3bwswu80PjjokCgh0o2w5c2U4LhQAE57gj9cz1kzA"),
                npm_signature: Some("-----BEGIN PGP SIGNATURE-----\r\nVersion: OpenPGP.js v4.10.10\r\nComment: https://openpgpjs.org\r\n\r\nwsFzBAEBCAAGBQJiSbsXACEJED1NWxICdlZqFiEECWMYAoorWMhJKdjhPU1b\r\nEgJ2VmoiQQ//cbWYeAe/zhF1Ba7U/yL1mURDYQ4PrQ7ajmqH7A+bvnFLnz0i\r\n0hXVZoKGK0H+n//yGoDJzt+q/kPPQeeUmG4AMh+moYGYfupCJfElitICCA7v\r\nv9VNdVM6Rcv/fzNWv0r3ODAFxTuUiyPI6La6YRi8OAs0DiIC9gFujiWVdqFF\r\nriSCeP7jVgr3sbMF1sEVb+m5ZCUZT8Zg9GQI/NF4JGJXlMeWTh8gX45HdLwv\r\nXNJTgmVig5SbIAoXHPXGrwSX0BzXUv07BsPCQy7Qa1w+Q0dv/+P5V7qDuuSW\r\n6TlohUkZ1WxdozdCJA660Bi1qa73RBlTbH6bKYA0tccr8bcIX6/scVTHi5po\r\nHDB/Ig0V5w5b5kUBrv8ffzs5BCNbVtUyxQsYM5TYPsE3reTgEdf0LU5hA2E/\r\nLwzTBXncLa8FXFnLyFZd66fIOC3OlTAvQFSDMuXml2APS/QWWlfnINPoPrRO\r\nwkV2XHCwIgb32MnrAs2NpCWL56cZaiAx+Bh89ZdWZbruweffJsfgyHr37MKQ\r\nPJOH7vbofGcl2c3gsTtNHq8FeZ/WoaHMVeoyEIltUd48kboyLT22aWBp4edF\r\nTpH0rPW1Ns35SnUM2YO1h3TQCWbDRHhUF4o9BiiCKeG2K941yXVi7gtLI2Ho\r\nQP4LrINVOI4pr8IIkFoA8N4l0xSFpGnb5xg=\r\n=l9PT\r\n-----END PGP SIGNATURE-----\r\n"),
            ),
            repository: None,
            extra_metadata: {
                "typings": "./src/index.d.ts",
                "_npmUser": {
                    "name": "arkenstan",
                    "email": "anshulwagadre@live.com",
                },
                "directories": {},
                "description": "Fun little NSFW error HTTP errors library which spouts wasseypur slangs as error messages.",
                "gitHead": "05422c001cc073b8a13bb2845b05709d1315c222",
                "_id": "@wasseypur/errors@0.0.3",
                "version": "0.0.3",
                "_hasShrinkwrap": false,
                "repo": {
                    "url": "git+https://github.com/arkenstan/wasseypur.git",
                    "type": "commonjs",
                    "directory": "packages/errors",
                },
                "type": "commonjs",
                "maintainers": [
                    {
                        "name": "arkenstan",
                        "email": "anshulwagadre@live.com",
                    },
                ],
                "_nodeVersion": "16.14.2",
                "_npmVersion": "8.6.0",
                "homepage": "https://github.com/arkenstan/wasseypur#readme",
                "_npmOperationalInternal": {
                    "tmp": "tmp/errors_0.0.3_1648999191313_0.9761877212805605",
                    "host": "s3://npm-registry-packages",
                },
                "name": "@wasseypur/errors",
                "bugs": {
                    "url": "https://github.com/arkenstan/wasseypur/issues",
                },
                "main": "./src/index.js",
            },
        ),
    },
)))