#[test]
fn {name}() {{
    let seq_json_str = include_str!("{path_input}");
    
    let change = Change {{ seq: 1, raw_json: serde_json::from_str(seq_json_str).unwrap() }};

    let deser_change = deserialize_change(change);

    let correct_ron_str = include_str!("{path_correct}");
    let correct_deser_change = ron::from_str(correct_ron_str).unwrap();

    assert_eq!(deser_change, correct_deser_change);
}}