name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  DATABASE_URL: postgres://donald:password@localhost/npm_data
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup PostgreSQL
      # You may pin to the exact commit or the version.
      # uses: Harmon758/postgresql-action@0be19fa37850b22cb4c9bbf28a03abbf44abd863
      uses: Harmon758/postgresql-action@v1.0.0
      with:
        # Version of PostgreSQL to use
        postgresql version: 14
        postgresql db: npm_data
        postgresql user: donald 
        postgresql password: password
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.3.0
    - name: Install Diesel
      run: cargo install diesel_cli --no-default-features --features postgres --version 1.4.1
    - name: Setup Diesel
      run: cd postgres_db && diesel setup
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    # - name: Run benchmarks
    #   run: cargo bench --verbose
